
DB_URL=jdbc:postgresql://localhost:5432/jobmatch
DB_USER=
DB_PASSWORD=


JWT_SECRET=

# Credenciais da API de vagas (https://developer.adzuna.com/)
JOB_SOURCE_API_KEY=
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
